.sidebar {
    display: flex;
    flex-direction: column;
}

aside {
    margin-left: 5%;
    width: 300px;
    border: 1px solid gray;
    padding:10px;
    margin: 20px;
}

h1 {
    text-align: center;
}